<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>스프링부트 웹서비스</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!--부트스트랩 css 추가-->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
	
 	<div class="col-md-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addInstrumentModal">악기 등록</button>
    </div>

	<div class="col-md-12">
		<!-- 목록 출력 영역 -->
		<table class="table table-horizontal table-bordered">
			<thead class="thead-strong">
				<tr>
					<th>등록 번호</th>
					<th>시리얼 번호</th>
					<th>가격</th>
					<th>수정날짜</th>
					<th>수정</th>
				</tr>
			</thead>
			<tbody id="tbody">
				<tr th:each="result: ${result}">
					<td th:text="${result.id}"></td>
					<td th:text="${result.serialNumber}"></td>
					<td th:text="${result.price}"></td>
					<td th:text="${result.modifiedDate}"></td>
					<td class="btn btn-primary" data-toggle="modal" data-target="#updateInstrumentModal">Edit</td>
				</tr>
			</tbody>
		</table>
	</div>
	
    <div class="modal fade" id="addInstrumentModal" tabindex="-1" role="dialog" aria-labelledby="addInstrumentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addInstrumentLabel">새로운 악기 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/add}" th:object="${instrument}" method="post">
                        <div class="form-group">
                            <label for="serialNumber"> 시리얼 번호 :  </label>
                            <input type="text" class="form-control" id="serialNumber" th:field="${instrument.serialNumber}" placeholder="시리얼 넘버를 입력하세요" />
                        </div>
                        
                        <div class="form-group">
                            <label for="price"> 가격  : </label>
                            <input type="text" class="form-control" id="price" th:field="${instrument.price}" placeholder="소비자 가격을 입력하세요" />
                        </div>

						<div class="form-group">
							<label for="instrumentType"> 악기 종류  : </label>
							<select>
								<option
									th:each="instrumentType : ${T(io.wayseekers.ricksGuitar.domain.instrument.InstrumentType).values()}"
									th:value="${instrumentType}" th:text="${instrumentType}">
								</option>
							</select>
						</div>

						<div class="form-group">
							<label for="builder"> 제작 회사 : </label>
							<select>
								<option
									th:each="builders : ${T(io.wayseekers.ricksGuitar.domain.instrument.Builders).values()}"
									th:value="${builders}" th:text="${builders}">
   								</option>
							</select>
						</div>

						<div class="form-group">
							<label for="type"> 타입 : </label>
							<select>
								<option
									th:each="type : ${T(io.wayseekers.ricksGuitar.domain.instrument.Type).values()}"
									th:value="${type}" th:text="${type}">
	          					</option>
							</select>
						</div>

						
						<div class="form-group">
							<label for="topWood"> 상판 : </label>
							<select>
								<option
									th:each="wood : ${T(io.wayseekers.ricksGuitar.domain.instrument.Wood).values()}"
									th:value="${wood}" th:text="${wood}">
   								</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="backWood"> 후판 : </label>
							<select>
								<option
									th:each="wood : ${T(io.wayseekers.ricksGuitar.domain.instrument.Wood).values()}"
									th:value="${wood}" th:text="${wood}">
   								</option>
							</select>
						</div>

                        <div class="form-group">
                            <label for="numStrings"> 줄 개수(* Guitar 만!!)  </label>
                            <input type="text" class="form-control" id="numStrings" placeholder="줄 개수를 입력하세요(Guitar 선택만!)" />
                        </div>
                        
						<div class="form-group">
							<label for="style"> 스타일(* Madolin 만!!) : </label>
							<select>
								<option
									th:each="style : ${T(io.wayseekers.ricksGuitar.domain.instrument.Style).values()}"
									th:value="${style}" th:text="${style}">
   								</option>
							</select>
						</div>
						
						<div class="modal-footer">
                    		<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                   			<button type="submit" class="btn btn-primary" id="btn-save">등록</button>
                		</div>
					</form>
                </div>
            </div>
        </div>
    </div>

<!-- 	<form action="#" th:action="@{/add}" th:object="${instrument}" method="post">
		<p>serialNum: <input type="text" th:field="${instrument.serialNumber}" /></p>
		<p>price: <input type="text" th:field="${instrument.price}" /></p>

		<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
	</form> -->

	<!--부트스트랩 js, jquery 추가-->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>